*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    padding: 20px;

}
.backPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 480px;
    height: 98%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 10px auto 0 auto;
    overflow: hidden;
}
.backPage #Header{
    overflow: hidden;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
    overflow: hidden;
    max-height: 320px;
}
#Header img{
    width: 100%;
    height: 100%;
    
}
.backPage .Content{
    /* border-radius: 20px; */
    position: relative;
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
    padding: 10px;
}
.Content #Text{
    position: absolute;
    top: 20px;
    margin: 0 10px 20px 10px;

}
.backPage #Menu{
    cursor: pointer;
    position: absolute;
    right: 50px;
    bottom: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: brown;
    padding: 10px;
    border: 2px solid rgb(25, 125, 218);

    font-size: 3em;
    color: white;
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    

    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(253,29,29);
    background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,216,69,1) 100%);
    transition:all 1s;
}
.backPage #Menu:hover{
    width: 54px;
    height: 54px;
    font-size:3.2em ;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.backPage #Menu:active{
    transition:all 0.1s;
    width: 50px;
    height: 50px;
    font-size:3em ;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#imgIni {
  cursor: pointer;
  transition: 0.3s;
}

#imgIni:hover {opacity: 0.7;}
.container{
    display: none;
    /* Posição fixa */
    position: fixed;
    /* Imagem depht */
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.6);


}
.close{
    position: absolute;
    top: 35px;
    right: 30px;
    cursor: pointer;
    color: white;
    font-size: 2.2em;
    transition: color 0.5s;
}
.close:active{
    color: brown;
}
.close:hover{
    color: brown;
}
.imgContainer{
    margin: auto;
    width: 80%;
    display: block;
    max-width: 900px;
}
.imgContainer,.legend{
    animation-name: zoom;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
}

.legend{
    text-align: center;
    color: aliceblue;
    font-size: 2em;
}
@keyframes zoom{
    from{
        opacity: 0.4;
        transform: scale(0.1);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

@media only screen and (max-width:700px) and (max-height:310px){
    .imgContainer{
        width: 100%;
        height: 20%;
    }
}